.userReq{
    background: url('../Images/bg2.png');
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100% ;
}

.rec_user{
   padding: 6% 0px 0 30px;
   display: flex;
   justify-content: space-around;
   /* margin-bottom: 2px; */
}

  .rec_user form{
    width: 36%;
    margin: 0px 20px 20px 15px;
    box-shadow: 8px 8px 5px 1px grey;
    padding: 30px 15px 0px;
    min-height: 65vh;
    border-radius:7px;
    background:white
  }
  .rec_user .svg_div {
    width: 34%;
    /* border: 1px solid blue; */
  }
  .rec_user .svg_div img {
    width: 270px;
    margin: 55% 0 -20% 30%;
    /* border: 1px solid red; */
  }
  .maroon_btn{
    background: #900d10;
    color: white;
  } 
  .dark_btn{
    background: #222222;
    color: white;
  }
  .maroon_btn:hover{
    background: #750709;
    color: white;
  }
  .dark_btn:hover{
    background: #313131;
    color: white;
  }
  @media  screen and (min-width:1000px) and (max-width:1350px) 
  {
    .rec_user{
        padding: 8% 0px 0 30px;
        /* margin-top: 20px; */
        /* border: 1px solid; */
     }
     .rec_user .svg_div img {
        margin: 68% 0 -20% 30%;
        /* border: 1px solid red; */
      }
     
  }
  @media  screen and (min-width:800px) and (max-width:1000px)
  {
    .rec_user{
        padding: 10% 0px 0 30px;
     }

    .rec_user form{
        width: 50%;
        margin: 0px 20px 20px 15px;
        box-shadow: 8px 8px 5px 1px grey;
        padding: 30px 15px 0px;
        min-height: 65vh;
        border-radius:7px;
        background:white
      }
 } 

 @media  screen and (min-width:0px) and (max-width:800px)
  {
    .rec_user{
        padding: 20% 0px 0 30px;

     }

    .rec_user form{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
  
      }
  
      .rec_user .svg_div {
        display: none;
      }
 } 
