<div style="background: #eee; padding: 100px 0;">
    <div style="text-align: center;font-size: 40px; font-weight: bold;">DOX & BOX</div>
    <table style="width: 100%; max-width: 600px; margin: 20px auto; border: 1px solid #ccc; display: flex;justify-content: center;align-items: center; background-color: #fff;">
        <tr>
        <td colspan="3" height="15"></td>
        </tr>
        <tr>
            <td width="15"></td>
            <td>